body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    text-align: left;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: 25px;
    margin:0 auto;
    padding: 20px;
    font-family: Big+Shoulders, sans-serif;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 32px;
    
    max-width: 500px;
    font-family: Big+Shoulders, sans-serif;
      
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    
    max-width: 500px;
    font-family: Big+Shoulders, sans-serif;
}

p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 500px;
}

.filters select {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 8px;
    font-size: 16px;
    text-align: left;
}

.generate-btn {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #cfc8b8;
    cursor: pointer;
}

.img1 {

position: absolute;
width: 255px;
height: 255px;


}

.img2 {
position: absolute;
width: 190px;
height: 297px;



}

.img3 {
position: absolute;
width: 149px;
height: 223px;


}

/* Додаємо ефект при наведенні */
.quote-img:hover {
    transform: scale(1.05);
}